#body {
	height: inherit;
	width: inherit;
}
#container {
	background-color:#5e6cd4;
	width: 90%;
	height: 90%;
	margin: auto;
	padding: 2%;
	
}
div{
	overflow:hidden;
}
h1  {
	font-family: "Eras Demi ITC", sans-serif;
	font-size:30px;
}
#header {
	min-width: 80%;
	padding: 3%;
	margin: auto;
	background-color: #5dbce5;
}
#header h1{
	margin: 0 0 0 10%;
	font-family:"Eras Demi ITC",sans-serif;
	font-size:30px;
	
}
#menu {
	background-color:#000000;
	width:	80%;
	height: 1%;
	margin: 1% auto 1% auto;
	overflow:hidden;
}
#menulist {
	list-style-type: none;
}
#menulist li{
	padding: 1%;
	margin: 1%;
	float: left;
	background-color: #00a2e8;
}
#login{
	color: #00a2e8;
	float: right;
}
#logform ul li{
	padding: 1%;
}