body
{
	font-family: Verdana;
}
#header
{
	text-align: center;
}
#footer
{
	text-align: center;
}
#layout
{
	margin: 0 auto;
	width: 900px;
}
#content
{
	
}
#menu
{
	display: block;
	
}
#menu ul
{
	display: inline;
	list-style: none;
}
#menu ul li
{
	display: inline;
	padding-right: 10px;
}
#menu ul li a
{
	color: white;
	background: black;
	text-decoration: none;
}