body
{
	font-family: Verdana;
}
#wrap 
{
	width: 980px;
	margin: 0 auto;
}
#header
{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin: 0 0 15px 0;
	padding: 0;
}
#footer
{
	text-align: center;
	font-weight: bold;
	margin: 15px 0 0 0;
	padding: 0;
}
#container 
{
	width: 730px;
	float: right;
	padding-right: 25px;
	background: #AFD6EF;
	margin-left: -10px;
	border-bottom:1px solid #fff;
	margin: 0;
	padding: 10px;
}
#sidebar 
{
	width:220px;
	height: 100%;
	float: left;
	background: rgb(51,102,255);
	border-right: 1px solid #2e2f2f;
	position: fixed;
	margin: 0;
	padding: 0;
}
#menu ul
{
	background: rgb(0,155,255);
	list-style: none;
	margin: 25px 0 0 20px;
	padding: 0;
	width: 180px;
}
#menu ul li 
{
	border:none;
	background:none;
	margin:0;
	padding:0
}
#menu ul li a:link, #menu ul li a:visited 
{
	color: #000;
	background-color: #3FAEF3;
	text-decoration: none;
	margin: 0 0 1px 0;
	width: auto;
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
	display: block;
}
#menu ul li a:hover, #menu ul li a.active 
{
	text-decoration: underline;
}