#body {
	height: 100%;
	width: 100%;
}
#container {
	background-color:#5e6cd4;
	width: 90%;
	height: 90%;
	margin: auto;
	padding: 2%;
	
}
h1  {
	font-family: "Eras Demi ITC", sans-serif;
	font-size:30px;
}
#header {
	min-width: 80%;
	padding: 2%;
	margin: auto;
	background-color: #5dbce5;
}
#header h1{
	margin: 0 0 0 10%;
	font-family:"Eras Demi ITC",sans-serif;
	font-size:30px;
	
}
#menu {
	background-color: #000000;
	width:80%;
	height: 5%;
	margin: auto;
}
#menulist {
	list-style-type: none;
	
}
#menulist li{
	background-color: # ;
	float:left;
	padding: 1%;
	margin: 1%;
	ba
}
#login{
	float: right;
}