body
{
	font-family: sans-serif;
	
}
a
{
	color: rgb(0,51,171);
}
table
{
	width: 100%;
	table-layout:fixed;
}
table th, td, tr
{
	border: 1px solid;
}
table tr
{
	background: rgb(0, 120, 255);
}
table tr:hover
{
	background: rgb(0, 180, 255);
}
table textarea
{
	padding: 0;
	margin: 0;
	width: 200px;
	height: 150px;
}
#wrap 
{
	width: 980px;
	margin: 0 auto;
}
#header
{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin: 0 0 15px 0;
	padding: 0;
}
#footer
{
	text-align: center;
	font-weight: bold;
	margin: 15px 0 0 0;
	padding: 0;
}
#container 
{
	width: 730px;
	float: right;
	padding-right: 25px;
	background: #AFD6EF;
	margin-left: -10px;
	border-bottom:1px solid #fff;
	margin-top: 57px;
	padding: 10px;
}
#message
{
	margin: 0 10px 0 10px;
}
#message p
{
	background: rgb(100,255,0);
	border: solid 1px;
	padding: 10px;
}
#content
{
	padding: 10px;
}
#content-page
{
	border: 1px solid;
	padding: 10px;
	background: rgb(0, 180, 209);
}
.logo
{
	text-align: center;
}
.logo-img
{
	width: 222px;
}
/* EDIT PAGE */
#edit-page
{
	border: 1px solid;
	padding: 10px;
	background: rgb(0, 180, 209);
	border-bottom: 2px solid;
	margin-bottom: 10px;
}
#edit-page a
{
	color: blue;
}
#edit-page form
{
	width: 685px;
}
#edit-page input
{
	width: 140px;
	margin: 0 2px 2px 0;
	display: block;
}
#edit-page label
{
	width: 200px;
}
#edit-page .button-submit
{
	margin: 10px;
}
/*LOGIN FORM*/
.error
{
	padding: 10px 2px;
	margin-bottom: 10px;
	color: red;
}
.error-oops
{
	margin-left: 40px;
	text-align: center;
	width: 150px;
	heigt: 150px;
}
#validation-text p
{
	padding: 0;
	margin: 0;
}
#sidebar 
{
	width:220px;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
#menu
{
	background: rgb(51,102,255);
	padding: 10px 0 10px 0;
}
#menu ul
{
	list-style: none;
	margin: 0 0 0 20px;
	padding: 8px 0 0 0;
	width: 180px;
}
#menu ul li 
{
	border:none;
	margin:0;
	padding-bottom: 5px;
}
#menu ul li a:link, #menu ul li a:visited 
{
	color: #000;
	background-color: #3FAEF3;
	text-decoration: none;
	margin: 0 0 1px 0;
	width: auto;
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
	display: block;
}
#menu ul li a:hover, #menu ul li a.active 
{
	text-decoration: underline;
}